/* 第一屏动画 */
.screen-1__heading,
.screen-1__phone,
.screen-1__shadow {
    transition: all 1s;
}
.screen-1__heading_animate_init {
    opacity: 0;
    transform: translate(0, 100%);
}
.screen-1__phone_animate_init {
    opacity: 0;
    transform: translate(0, -100%);
}
.screen-1__shadow_animate_init {
    opacity: 0;
    transform: translate(0, 100%);
}
.screen-1__heading_animate_done,
.screen-1__phone_animate_done,
.screen-1__shadow_animate_done {
    opacity: 1;
    transform: translate(0, 0);
}

/* 第二屏动画 */
.screen-2__heading,
.screen-2__subheading,
.screen-2__phone {
    transition: all 1s;
}
.screen-2__heading_animate_init  {
    opacity: 0;
    transform: translate(0, -100%);
}
.screen-2__subheading_animate_init {
    opacity: 0;
    transform: translate(0, 100%);
}
.screen-2__phone_animate_init {
    opacity: 0;
    transform: translate(0, 50%);
}
.screen-2__heading_animate_done,
.screen-2__subheading_animate_done,
.screen-2__phone_animate_done {
    opacity: 1;
    transform: translate(0, 0);
}
.screen-2__point {
    transition: all 1s 1s;
}
.screen-2__point_i_1_animate_init {
    opacity: 0;
    transform: translate(-100%, 0);
}
.screen-2__point_i_2_animate_init,
.screen-2__point_i_3_animate_init {
    opacity: 0;
    transform: translate(100%, 0);
}
.screen-2__point_i_1_animate_done,
.screen-2__point_i_2_animate_done,
.screen-2__point_i_3_animate_done {
    opacity: 1;
    transform: translate(0, 0);
}
/* 第三屏动画 */
.screen-3__heading,
.screen-3__subheading,
.screen-3__phone,
.screen-3__features {
    transition: all 1s;
}
.screen-3__heading_animate_init  {
    opacity: 0;
    transform: translate(0, -100%);
}
.screen-3__subheading_animate_init {
    opacity: 0;
    transform: translate(0, 100%);
}
.screen-3__phone_animate_init {
    opacity: 0;
    transform: translate(0, 50%);
}
.screen-3__heading_animate_done,
.screen-3__subheading_animate_done,
.screen-3__phone_animate_done {
    opacity: 1;
    transform: translate(0, 0);
}
.screen-3__features_animate_init {
    opacity: 0;
    transform: scale(.5)
}
.screen-3__features_animate_done {
    opacity: 1;
    transform: scale(1)
}
.screen-3__features__item {
    transition: all .5s;
    cursor: pointer;
}
.screen-3__features__item:hover {
    transform: scale(1.1);
    border-color: #ffffff;
}
/* 第四屏动画 */
.screen-4__heading,
.screen-4__subheading {
    transition: all 1s;
}
.screen-4__heading_animate_init {
    opacity: 0;
    transform: translate(0, -100%);
}
.screen-4__subheading_animate_init {
    opacity: 0;
    transform: translate(0, 100%);
}
.screen-4__heading_animate_done,
.screen-4__subheading_animate_done {
    opacity: 1;
    transform: translate(0, 0);
}
.screen-4__type__item_i_1 {
    transition: all 1s .5s;
}
.screen-4__type__item_i_2 {
    transition: all 1s 1s;
}
.screen-4__type__item_i_3 {
    transition: all 1s 1.5s;
}
.screen-4__type__item_i_4 {
    transition: all 1s 2s;
}
.screen-4__type__item_i_1_animate_init,
.screen-4__type__item_i_2_animate_init,
.screen-4__type__item_i_3_animate_init,
.screen-4__type__item_i_4_animate_init {
    opacity: 0;
}
.screen-4__type__item_i_1_animate_done,
.screen-4__type__item_i_2_animate_done,
.screen-4__type__item_i_3_animate_done,
.screen-4__type__item_i_4_animate_done {
    opacity: 1;
}
/* 第五屏动画 */
.screen-5__heading,
.screen-5__subheading,
.screen-5__bg {
    transition: all 1s;
}
.screen-5__heading_animate_init {
    opacity: 0;
    transform: translate(0, -100%);
}
.screen-5__bg_animate_init,
.screen-5__subheading_animate_init {
    opacity: 0;
    transform: translate(0, 100%);
}
.screen-5__bg_animate_done,
.screen-5__heading_animate_done,
.screen-5__subheading_animate_done {
    opacity: 1;
    transform: translate(0, 0);
}
/* 定义帧动画 */
@-webkit-keyframes bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
@keyframes bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
/* 使用帧动画 */
.screen-2__point::before,
.screen-2__point::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0.4);
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    border-radius: 50%;
}
.screen-2__point::before {
    -webkit-animation: bounce 2s infinite 1s;
    animation: bounce 2s infinite 1s;
}
.screen-2__point_i_1::before,
.screen-2__point_i_1::after {
    left: 200px;
}

/* 导航条 status back 样式 */
.header {
    transition: all 1s;
}
.header_status_black {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.header_status_black .header__nav-item,
.header_status_black .header__logo {
    color: #ffffff;
}
.header_status_black .header__nav-item_status_active {
    color: #f01400;
}

/* 大纲_status_in样式 */
.outline {
    opacity: 0;
    transition: all 1s;
    transform: translate(100%, 0)
}
.outline_status_in {
    opacity: 1;
    transform: translate(0, 0)
}