body {
    background: #ffffff;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}
a {
    text-decoration: none;
}
h2,h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}